[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulp = "*"
graphviz = "*"
requests = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
duckdb = "*"
harlequin = "*"

[dev-packages]

[requires]
python_version = "3.12"
